.createGuide {
    padding-top: 30px;
    border-color: black;
    border-style: solid;
    align-content: center;
    text-align: center;
    height: 100px;
}

input[type=text]{
    align-content: center;
    text-align: center;
}

.guidesList {
    border-color: black;
    border-style: solid;
    align-content: center;
    text-align: center;
    height: 500px;
    padding-top: 30px;
}