.registerContainer {
    border-color: black;
    border-style: solid;
    align-content: center;
    text-align: center;
    height: 200px;
    padding-top: 30px;
}

input[type=text], input[type=email]{
    align-content: center;
    text-align: center;
}