.options {
    padding-top: 10px;
    text-align: center;
    border-color: black;
    border-style: solid;
    height: 200px;
}

.userContainer {
    display: flex;

}

.details {
    flex: 50%;
    padding-top: 10px;
    text-align: center;
    border-color: black;
    border-style: solid;
    height: 200px;
}

.plants {
    padding-top: 10px;
    text-align: center;
    border-color: black;
    border-style: solid;
    height: 200px;
}

.content {
    padding-top: 10px;
    text-align: center;
    border-color: black;
    border-style: solid;
    height: 200px;
}