.loginContainer {
    border-color: black;
    border-style: solid;
    align-content: center;
    text-align: center;
    height: 200px;
}

input[type=text]{
    align-content: center;
    text-align: center;
}

.registerContainer {
    border-color: black;
    border-style: solid;
    align-content: center;
    text-align: center;
    height: 200px;
    padding-top: 30px;
}