.createContainer {
    border-color: black;
    border-style: solid;
    align-content: center;
    text-align: center;
    height: 700px;
    padding-top: 30px;
}

input[type=text], input[type=url], textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-color: black;
    border-style: solid;
    font-size: 16px;
}