.createGuide {
    padding-top: 10px;
    border-color: black;
    border-style: solid;
    align-content: center;
    text-align: center;
    height: 200px;
}

input[type=text]{
    align-content: center;
    text-align: center;
}

.guidesList {
    border-color: black;
    border-style: solid;
    align-content: center;
    text-align: center;
    height: 500px;
    padding-top: 30px;
}

table, th, td {
    border-color: black;
    border-style: solid;
    border-collapse: collapse;
}