.addPlant{
    border-color: black;
    border-style: solid;
    align-content: center;
    text-align: center;
    padding: 25px;
}

.About{
	text-align: center;
}

.specificPlant{
	border-color: black;
    border-style: solid;
    align-content: center;
    text-align: center;
    padding: 25px;
}