{% extends "admins.html" %}
{% block styling %}
    <link rel="stylesheet" href="/static/css/adminTables.css">
{% endblock styling %}
{% block content %}
<div class="tableContainer">
     <table class="table">
        <thead>
            <tr>
                <th>User ID</th>
                <th>Plant ID</th>
                <th>ACTIONS</th>
            </tr>
        <tbody>
            {% for item in data %}
            <tr>
                <td>{{item[0]}}</td>
                <td>{{item[1]}}</td>
                <td>
                    <form action="/admins/plantsowned/update_po" method="post">
                        <input type="hidden" name="id" value="{{item[0]}}">
                        <input type="hidden" name="id2" value="{{item[1]}}">
                        <input type="submit" name="function" value="edit" />
                    </form>
                    <form method="post">
                        <input type="hidden" name="id" value="{{item[0]}}">
                        <input type="hidden" name="id2" value="{{item[1]}}">
                        <input type="submit" name="function" value="delete" />
                    </form>
                </td>
            </tr>
            {% endfor %}
    </table>
</div>

<h2>Add a plant for a user:</h2>

<div class="insertContainer">
    <form method="post">
        <label for="userId">User ID:</label>
        <input type="text" id="userId" name="userId" value="" required>

        <label for="plantId">Plant ID:</label>
        <input type="text" id="plantId" name="plantId" value="" required>

        <input type="submit" name="function" value="insert">
    </form>
</div>
{% endblock content %}