{% extends "admins.html" %}
{% block styling %}
    <link rel="stylesheet" href="/static/css/adminTables.css">
{% endblock styling %}
{% block content %}

<div class="createContainer">

    <h2>Insert New Guides</h2>
    <form method="post" action='/guides/create/insert_guide'>
        <label for="title">Title:</label>
        <input type="text" id="Title" name="Title" required><br>

        <label for="videoLink">Video URL (optional):</label>
        <input type="text" id="videoLink" name="videoLink"><br>

        <label for="description">Description:</label>
        <input type="text" id="description" name="description" required><br>

        <label for="plantID">plantID:</label>
        <input type="number" id="plantID" name="plantID"><br>

        <label for="userID">userID:</label>
        <input type="number" id="userID" name="userID"><br>

        <input type="submit" value="Submit">
    </form>

</div>

<div class="tableContainer">
    <h2>Guides</h2>
     <table class="table">
        <thead>
            <tr>
                <th>Guide ID</th>
                <th>Title</th>
                <th>Video</th>
                <th>Description</th>
                <th>Plant ID</th>
                <th>User ID</th>
                <th>ACTIONS</th>
            </tr>
        <tbody>
            {% for item in data %}
            <tr>
                <td>{{item[0]}}</td>
                <td>{{item[1]}}</td>
                <td>{{item[2]}}</td>
                <td>{{item[3]}}</td>
                <td>{{item[4]}}</td>
                <td>{{item[5]}}</td>
                <td>
                    <form action="/admins/guides/update_guide" method="post">
                        <input type="hidden" name="id" value="{{item[0]}}">
                        <input type="submit" name="function" value="edit" />
                    </form>
                    <form method="post">
                        <input type="hidden" name="id" value="{{item[0]}}">
                        <input type="submit" name="function" value="delete" />
                    </form>
                </td>
            </tr>
            {% endfor %}
    </table>
</div>

{% endblock content %}