{% extends "admins.html" %}
{% block styling %}
    <link rel="stylesheet" href="/static/css/adminTables.css">
{% endblock styling %}
{% block content %}
<div class="tableContainer">
     <table class="table">
        <thead>
            <tr>
                <th>Plant ID</th>
                <th>Common Name</th>
                <th>Scientific Name</th>
                <th>Type</th>
                <th>Color</th>
                <th>Variegated?</th>
                <th>Pet Safe?</th>
                <th>Max Size</th>
                <th>Picture</th>
                <th>Care ID</th>
                <th>ACTIONS</th>
            </tr>
        <tbody>
            {% for item in data %}
            <tr>
                <td>{{item[0]}}</td>
                <td>{{item[1]}}</td>
                <td>{{item[2]}}</td>
                <td>{{item[3]}}</td>
                <td>{{item[4]}}</td>
                <td>{{item[5]}}</td>
                <td>{{item[6]}}</td>
                <td>{{item[7]}}</td>
                <td>{{item[8]}}</td>
                <td>{{item[9]}}</td>
                <td>
                    <form action="/admins/plants/update_plant" method="post">
                        <input type="hidden" name="id" value="{{item[0]}}">
                        <input type="submit" name="function" value="edit" />
                    </form>
                    <form method="post">
                        <input type="hidden" name="id" value="{{item[0]}}">
                        <input type="submit" name="function" value="delete" />
                    </form>
                </td>
            </tr>
            {% endfor %}
    </table>
</div>

{% endblock content %}