{% extends "admins.html" %}
{% block styling %}
    <link rel="stylesheet" href="/static/css/adminTables.css">
{% endblock styling %}
{% block content %}

<div class="addPlant">
    <form method="post" action="/plants/insertPlants">
        <h2>Insert New Plants</h2>
        <label for="commonName">Common Name:</label><br>
        <input type="text" id="commonName" name="commonName" required><br>

        <label for="scienceName">Scientific Name:</label><br>
        <input type="text" id="scienceName" name="scienceName"><br>

        <label for="type">Type:</label><br>
        <input type="text" id="type" name="type"><br>

        <label for="color">Color:</label><br>
        <input type="text" id="color" name="color"><br>

        <label for="variegated">Variegated:</label>
        <select id="variegated" name="variegated">
          <option value="0">No</option>
          <option value="1">Yes</option>
        </select>

        <br>

        <label for="petSafe">Pet Safe?:</label>
        <select id="petSafe" name="petSafe">
          <option value="0">No</option>
          <option value="1">Yes</option>
        </select>
        <br>

        <label for="maxSize">Max Size:</label><br>
        <input type="text" id="maxSize" name="maxSize"><br>

        <label for="careID">CareID:</label><br>
        <input type="number" id="careID" name="careID"><br>
        
        <br>
        
        <input type="submit" value="Submit">
        <br>
    </form>
</div>

<div class="Search">
    <h2>Filter Search by Plant Type</h2>
    <form method="post" action="/admins/plants/search">
        <input type="radio" id="all" name="plant" value="all" checked>
        <label for="all">All</label><br>
        <input type="radio" id="succulents" name="plant" value="Succulent">
        <label for="succulents">Succulents</label><br>
        <input type="radio" id="cacti" name="plant" value="Cactus">
        <label for="cacti">Cacti</label><br>
        <input type="radio" id="foliage" name="plant" value="Foliage">
        <label for="foliage">Foliage</label><br>
        <input type="radio" id="palm" name="plant" value="Palm">
        <label for="palm">Palm</label><br>
        <input type="submit" value="Submit">
    </form>
</div>

<div class="tableContainer">
    <h2>Plants</h2>
     <table class="table">
        <thead>
            <tr>
                <th>Plant ID</th>
                <th>Common Name</th>
                <th>Scientific Name</th>
                <th>Type</th>
                <th>Color</th>
                <th>Variegated?</th>
                <th>Pet Safe?</th>
                <th>Max Size</th>
                <th>Picture</th>
                <th>Care ID</th>
                <th>ACTIONS</th>
            </tr>
        <tbody>
            {% for item in data %}
            <tr>
                <td>{{item[0]}}</td>
                <td>{{item[1]}}</td>
                <td>{{item[2]}}</td>
                <td>{{item[3]}}</td>
                <td>{{item[4]}}</td>
                <td>{{item[5]}}</td>
                <td>{{item[6]}}</td>
                <td>{{item[7]}}</td>
                <td>{{item[8]}}</td>
                <td>{{item[9]}}</td>
                <td>
                    <form action="/admins/plants/update_plant" method="post">
                        <input type="hidden" name="id" value="{{item[0]}}">
                        <input type="submit" name="function" value="edit" />
                    </form>
                    <form method="post">
                        <input type="hidden" name="id" value="{{item[0]}}">
                        <input type="submit" name="function" value="delete" />
                    </form>
                </td>
            </tr>
            {% endfor %}
    </table>
</div>

{% endblock content %}