{% extends "admins.html" %}
{% block styling %}
    <link rel="stylesheet" href="/static/css/adminTables.css">
{% endblock styling %}
{% block content %}

<div class="expertForm">
    <form method= "post" action="/experts/insertExperts">
        <h2>Insert New Experts:</h2>

        <p>Area of Expertise:</p> 
        <input type="radio" id="succulents" name="type" value="succulents" required>
        <label for="succulents">Succulents</label><br>

        <input type="radio" id="cacti" name="type" value="cacti" required>
        <label for="cacti">Cacti</label><br>

        <input type="radio" id="foliage" name="type" value="foliage" required>
        <label for="foliage">Foliage</label><br>

        <input type="radio" id="palm" name="type" value="palm" required>
        <label for="palm">Palm</label><br>

        <br>
        <label for="qualifications">Description of Qualifications:</label><br>
        <input type="text" id="qualifications" name="qualifications" required><br>

        <input type="submit" value="Submit">
    </form>
</div>


<div class="tableContainer">
    <h2>Experts:</h2>
     <table class="table">
        <thead>
            <tr>
                <th>Expert ID</th>
                <th>Expert Type</th>
                <th>Description</th>
                <th>ACTIONS</th>
            </tr>
        <tbody>
            {% for item in data %}
            <tr>
                <td>{{item[0]}}</td>
                <td>{{item[1]}}</td>
                <td>{{item[2]}}</td>
                <td>
                    <form action="/admins/experts/update_expert" method="post">
                        <input type="hidden" name="id" value="{{item[0]}}">
                        <input type="submit" name="function" value="edit" />
                    </form>
                    <form method="post">
                        <input type="hidden" name="id" value="{{item[0]}}">
                        <input type="submit" name="function" value="delete" />
                    </form>
                </td>
            </tr>
            {% endfor %}
    </table>
</div>

{% endblock content %}