{% extends "admins.html" %}
{% block styling %}
    <link rel="stylesheet" href="/static/css/adminTables.css">
{% endblock styling %}
{% block content %}

<div class="customCare">
    <form method="post" action="/care/insertCare">
        <h2>Insert New Care Instructions</h2>
        <label for="water">Water:</label><br>
        <input type="text" id="water" name="water" required><br>

        <label for="light">Light:</label><br>
        <input type="time" id="light" name="light" required><br>

        <label for="temperature">Temperature:</label><br>
        <input type="number" id="temperature" name="temperature" required><br>

        <label for="humidity">Humidity:</label><br>
        <input type="text" id="humidity" name="humidity"><br>

        <label for="fertilizer">Fertilizer:</label><br>
        <input type="text" id="fertilizer" name="fertilizer"><br>
        
        <label for="soil">Soil:</label><br>
        <input type="text" id="soil" name="soil"><br>
        
        <br>
        
        <input type="submit" value="Submit">
    </form>
</div>

<div class="tableContainer">
    <h2>Care</h2>
     <table class="table">
        <thead>
            <tr>
                <th>Care ID</th>
                <th>Water</th>
                <th>Light (hrs)</th>
                <th>Temperature</th>
                <th>Humidity</th>
                <th>Fertilizer</th>
                <th>Soil</th>
                <th>ACTIONS</th>
            </tr>
        <tbody>
            {% for item in data %}
            <tr>
                <td>{{item[0]}}</td>
                <td>{{item[1]}}</td>
                <td>{{item[2]}}</td>
                <td>{{item[3]}}</td>
                <td>{{item[4]}}</td>
                <td>{{item[5]}}</td>
                <td>{{item[6]}}</td>
                <td>
                    <form action="/admins/care/update_care" method="post">
                        <input type="hidden" name="id" value="{{item[0]}}">
                        <input type="submit" name="function" value="edit" />
                    </form>
                    <form method="post">
                        <input type="hidden" name="id" value="{{item[0]}}">
                        <input type="submit" name="function" value="delete" />
                    </form>
                </td>
            </tr>
            {% endfor %}
    </table>
</div>

{% endblock content %}