{% extends "admins.html" %}
{% block styling %}
    <link rel="stylesheet" href="/static/css/adminTables.css">
{% endblock styling %}
{% block content %}

<div class="insertContainer">
    <form method="post">
        <h2>Add an Expert Tag For a User</h2>
        <label for="userId">User ID:</label>
        <input type="text" id="userId" name="userId" value="" required>

        <label for="expertId">Expert ID:</label>
        <input type="text" id="expertId" name="expertId" value="" required>

        <input type="submit" name="function" value="insert">
    </form>
</div>

<div class="tableContainer">
    <h2>UserExperts</h2>
     <table class="table">
        <thead>
            <tr>
                <th>User ID</th>
                <th>Expert ID</th>
                <th>ACTIONS</th>
            </tr>
        <tbody>
            {% for item in data %}
            <tr>
                <td>{{item[0]}}</td>
                <td>{{item[1]}}</td>
                <td>
                    <form action="/admins/userexperts/update_ue" method="post">
                        <input type="hidden" name="id" value="{{item[0]}}">
                        <input type="hidden" name="id2" value="{{item[1]}}">
                        <input type="submit" name="function" value="edit" />
                    </form>
                    <form method="post">
                        <input type="hidden" name="id" value="{{item[0]}}">
                        <input type="hidden" name="id2" value="{{item[1]}}">
                        <input type="submit" name="function" value="delete" />
                    </form>
                </td>
            </tr>
            {% endfor %}
    </table>
</div>


{% endblock content %}