{% extends "admins.html" %}
{% block styling %}
    <link rel="stylesheet" href="/static/css/adminTables.css">
{% endblock styling %}
{% block content %}

<div class="insertContainer">
    <form method="post">
        <h2>Add a Plant For a User</h2>
        <label for="userId">User ID:</label>
        <select id="userId" name="userId" required>
            {% for user in users %}
            <option value="{{user[0]}}">{{user[1]}} {{user[2]}}</option>
            {% endfor %}
        </select>

        <label for="plantId">Plant ID:</label>
        <select id="plantId" name="plantId" required>
            {% for plant in plants %}
            <option value="{{plant[0]}}">{{plant[1]}}</option>
            {% endfor %}
        </select>

        <input type="submit" name="function" value="insert">
    </form>
</div>

<div class="tableContainer">
    <h2>PlantsOwned</h2>
     <table class="table">
        <thead>
            <tr>
                <th>User ID</th>
                <th>Plant ID</th>
                <th>ACTIONS</th>
            </tr>
        <tbody>
            {% for item in data %}
            <tr>
                <td>{{item[0]}}</td>
                <td>{{item[1]}}</td>
                <td>
                    <form action="/admins/plantsowned/update_po" method="post">
                        <input type="hidden" name="id" value="{{item[0]}}">
                        <input type="hidden" name="id2" value="{{item[1]}}">
                        <input type="submit" name="function" value="edit" />
                    </form>
                    <form method="post">
                        <input type="hidden" name="id" value="{{item[0]}}">
                        <input type="hidden" name="id2" value="{{item[1]}}">
                        <input type="submit" name="function" value="delete" />
                    </form>
                </td>
            </tr>
            {% endfor %}
    </table>
</div>


{% endblock content %}