{% extends "admins.html" %}
{% block styling %}
    <link rel="stylesheet" href="/static/css/adminTables.css">
{% endblock styling %}
{% block content %}
    <h1>UPDATE INFORMATION FOR USER ID:{{data[0][0]}} EXPERT ID: {{data[0][1]}}</h1>
    <form method="post">
        <input type="hidden" name="id" value="{{data[0][0]}}">
        <input type="hidden" name="id2" value="{{data[0][1]}}">

        <label for="userId">User ID:</label>
        <input type="text" id="userId" name="userId" value="{{data[0][0]}}" required>

        <label for="expertId">Expert ID:</label>
        <input type="text" id="expertId" name="expertId" value="{{data[0][1]}}" required>

        <input type="submit" name="function" value="update">
    </form>
{% endblock content %}