{% extends "layout.html" %}
{% block styling %}
    <link rel="stylesheet" href="../static/css/createGuide.css">
{% endblock styling %}
{% block banner %}Guides{% endblock banner %}
{% block content %}

<div class="createContainer">

    <h2>Please enter the following!</h2>
    <form method="post" action="">
        <label for="title">Title:</label>
        <input type="text" id="Title" name="Title" placeholder="...">

        <label for="videoLink">Video URL (optional):</label>
        <input type="url" id="videoLink" name="videoLink" placeholder="...">

        <label for="description">Description:</label>
        <textarea id="description" name="description" placeholder="Description..." style="height:200px"></textarea>

        <input type="submit" value="Submit!">
    </form>

    <p>
        This is where a user will create a guide. A title and description is all that is required to create a guide.
        This form will be submitted to the server and added to the database. (CREATE)
    </p>
</div>

{% endblock content %}