{% extends "layout.html" %}
{% block styling %}
    <link rel="stylesheet" href="../static/css/exampleGuide.css">
{% endblock styling %}
{% block banner %}Guides{% endblock banner %}
{% block content %}

<div class="guideContainer">

    <div class="titleDisplay">
        <h2>This Area Will Be For A Guide Title</h2>
    </div>

    <div class="videoDisplay">
        <p>This will be an area for an embedded video link. (READ)</p>
    </div>

    <div class="descriptionDisplay">
        <p>This is the area for the description/guide itself. This section can be the description of the video and key
        points from the video or it can be used to make a text guide. (READ)</p>
    </div>

</div>

{% endblock content %}