{% extends "layout.html" %}
{% block styling %}
    <link rel="stylesheet" href="static/css/guides.css">
{% endblock styling %}
{% block content %}
<div class="createGuide">
    <button onclick="location.href='guides/create'" type="button">
        Create!
    </button>
    <p>This area will be for items associated with styling and for the create button, which will redirect a registered
    user to the create guide page.</p>
</div>

<div class="guidesList">
    <button onclick="location.href='guides/example'" type="button">
        Example Guide Page
    </button>
    <table class="table">
        <thead>
            <tr>
                <th>Guide ID</th>
                <th>Title</th>
                <th>Video Link</th>
                <th>Description</th>
                <th>Plant ID</th>
                <th>User ID</th>
            </tr>
        <tbody>
            {% for item in data %}
            <tr>
                <td>{{item[0]}}</td>
                <td>{{item[1]}}</td>
                <td>{{item[2]}}</td>
                <td>{{item[3]}}</td>
                <td>{{item[4]}}</td>
                <td>{{item[5]}}</td>
            </tr>
            {% endfor %}
    </table>
</div>
{% endblock content %}