{% extends "layout.html" %}
{% block styling %}
    <link rel="stylesheet" href="static/css/index.css">
{% endblock styling %}
{% block content %}

<div class="About">
    <div class="text">
        <h2>Hello! Welcome to Plant Parenting!</h2>
        <p>In this web application you will be able to find out more information about how to properly care for the
        plants that you own in your very own house!</p>
        <p>Plants vary widely and each needs a certain type of care in order to grow properly. This is where our app
        comes into play.</p>
        <p>In this web app you will find a catalog of plants, each with a care routine and custom guides that users like
        you have created and shared for the benefit of this community. In this page you will also find that you can
        claim plant that you own, making it easier to keep track of the plants you want to know more about!</p>
        <p>You will also find a guides page that will show the catalog of guides that have been created. Don't see
        something that you think should be there? Then this page will be a great tool for you to share the knowledge you
        have gained in caring for your plants. This webpage also allows a user like you to create guides!</p>
        <p>We also have a user area for your very own account, where you can find the plants that you have claimed as
        your own, personalize your profile, and update the details about you.</p>
        <p>If you are an expert in something, then you can apply for an Experts tag, which will let users know
        that the guides and content you put out is backed by an expert in the field!</p>
        <p>Finally, admin features (database table manipulation) are available in the DB admin tab </p>
        <p>We hope you find this app as a useful tool in your plant care.</p>
    </div>
</div>

{% endblock content %}