{% extends "layout.html" %}
{% block styling %}
    <link rel="stylesheet" href="static/css/index.css">
{% endblock styling %}
{% block banner %}Plant Parenting{% endblock banner %}
{% block content %} 

<div class="buttons">
    <button onclick="location.href='/'" type="button">
        Home
    </button>

    <button onclick="location.href='/admins/users'" type="button">
        Users
    </button>

    <button onclick="location.href='/admins/plants'" type="button">
        Plants
    </button>

    <button onclick="location.href='/admins/care'" type="button">
        Care
    </button>

    <button onclick="location.href='/admins/guides'" type="button">
        Guides
    </button>

    <button onclick="location.href='/admins/experts'" type="button">
        Experts
    </button>

    <button onclick="location.href='/admins/plantsowned'" type="button">
        PlantsOwned
    </button>

    <button onclick="location.href='/admins/userexperts'" type="button">
        UserExperts
    </button>
</div>

<div class="About">
    <div class="text">
        <h2>Welcome to Plant Parenting!</h2>
        <p>This web application is an admin-facing application for a database to make basic CRUD (Create, Read, Update, Delete) operations simple.</p>
        <p>This database has 5 entities: Users, Plants, Care, Guides, and Experts. Each entity has its own page where you can clearly see (read) all the entries.</p>
        <p>You can also insert (create) into each entity table, and edit and delete from each entity table. Intersection tables have their own pages with all CRUD functionality as well.</p>
        <p>Users can have multiple Plants, write multiple Guides, and be Experts in multiple fields. The relationship between Users and Plants is nullable.</p>
        <p>A type of Plant can be owned by many Users and has one Care requirement associated with it. There is a filtered search on the Plants page.</p>
        <p>One Care requirement can be associated with many Plants.</p>
        <p>A Guide can be associated with one Plant and one User, but Users can write many Guides and Plants can have many Guides written about them.</p>
        <p>Finally, an Expert tag can be held by many Users and Users can have many Expert tags.</p>
        <p>We hope you find this app to be a useful tool!</p>
    </div>
</div>

{% endblock content %}