<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Plant Parenting</title>
    <link rel="stylesheet" href="/static/css/navbar.css">
    {% block styling %}{% endblock %}

</head>
<body>
<div class="Banner">
    <div class="bannerBox">Plant Parenting</div>
    <div class="bannerBox">{% block banner %}{% endblock %}</div>
    <div class="bannerBox"></div>
</div>

<div class="Heading">
    <ul id="navBar">
        <li class="navBarElement"><a href="/">Home</a></li>
        <li class="navBarElement"><a href="/plants">Plants</a></li>
        <li class="navBarElement"><a href="/guides">Guides</a></li>
        <li class="navBarElement"><a href="/login">User</a></li>
        <li class="navBarElement"><a href="/experts">For Experts</a></li>
        <li class="navBarElement"><a href="/admins">DB Admin</a></li>
    </ul>
</div>

{% block content %}{% endblock %}

</body>
</html>