{% extends "layout.html" %}
{% block styling %}
    <link rel="stylesheet" href="static/css/plantStyle.css">
{% endblock styling %}
{% block banner %}Plants{% endblock banner %}
{% block content %}

<div class="About">
    <div class="text">
        <h2>Browse Plants</h2>
        <p>This is an area where users will browse exsiting plants (READ) and add new plants if they do not see one that they own (CREATE).</p> 
        <p>Users can click on a plant entry to view (READ) the care requirements for that plant.</p> 
    </div>
</div>

<div class="Search">
    <input type="text" placeholder="Search.." name="search">
    <input type="submit" value="Search">
    <p>Filter search by plant type:</p>
    <form method="post">
        <input type="radio" id="all" name="plant" value="all" checked>
        <label for="all">All</label><br>
        <input type="radio" id="succulents" name="plant" value="Succulent">
        <label for="succulents">Succulents</label><br>
        <input type="radio" id="cacti" name="plant" value="Cactus">
        <label for="cacti">Cacti</label><br>
        <input type="radio" id="foliage" name="plant" value="Foliage">
        <label for="foliage">Foliage</label><br>
        <input type="radio" id="palm" name="plant" value="Palm">
        <label for="palm">Palm</label><br>
        <input type="submit" value="Submit">
    </form>
</div>

<div class="specificPlant">
    <p> This area is reserved for plant entries. Clicking on a plant entry will link to its care requirements</p>
    <table class="table">
        <thead>
            <tr>
                <th>Picture</th>
                <th>Common Name</th>
                <th>Type</th>
            </tr>
        <tbody>
            {% for item in data %}
            <tr>
                <td>{{item[0]}}</td>
                <td><a href="/care" class="plantNames">{{item[1]}}</a></td>
                <td>{{item[2]}}</td>
            </tr>
            {% endfor %}
    </table>
    <button onclick="location.href='care'" type="button">
        view care requirements
    </button>
</div>

<div class="addPlant">
    <form method="post" action="/plants/insertPlants">
        <p>Insert Plants Here:</p>
        <label for="commonName">Common Name (Required):</label><br>
        <input type="text" id="commonName" name="commonName" required><br>

        <label for="scienceName">Scientific Name:</label><br>
        <input type="text" id="scienceName" name="scienceName"><br>

        <label for="type">Type:</label><br>
        <input type="text" id="type" name="type"><br>

        <label for="color">Color:</label><br>
        <input type="text" id="color" name="color"><br>

        <label for="variegated">Variegated:</label>
        <select id="variegated" name="variegated">
          <option value="0">No</option>
          <option value="1">Yes</option>
        </select>

        <label for="petSafe">Pet Safe?:</label>
        <select id="petSafe" name="petSafe">
          <option value="0">No</option>
          <option value="1">Yes</option>
        </select>

        <label for="maxSize">Max Size:</label><br>
        <input type="text" id="maxSize" name="maxSize"><br>

        <label for="careID">CareID:</label><br>
        <input type="number" id="careID" name="careID"><br>
        
        <br>
        
        <input type="submit" value="Submit">
    </form>
</div>

{% endblock content %}