{% extends "layout.html" %}
{% block styling %}
    <link rel="stylesheet" href="static/css/plantStyle.css">
{% endblock styling %}
{% block content %}

<div class="About">
    <div class="text">
        <h2>Browse Plants</h2>
        <p>This is an area where users will browse exsiting plants (READ) and add new plants if they do not see one that they own (CREATE).</p> 
        <p>Users can click on a plant entry to view (READ) the care requirements for that plant.</p> 
    </div>
</div>

<div class="specificPlant">
    <p> This area is reserved for plant entries. Clicking on a plant entry will link to its care requirements</p>
    <table class="table">
        <thead>
            <tr>
                <th>Plant ID</th>
                <th>Common Name</th>
                <th>Scientific Name</th>
                <th>Type</th>
                <th>Color</th>
                <th>Variegated?</th>
                <th>Pet Safe?</th>
                <th>Max Size</th>
                <th>Picture</th>
                <th>Care ID</th>
            </tr>
        <tbody>
            {% for item in data %}
            <tr>
                <td>{{item[0]}}</td>
                <td>{{item[1]}}</td>
                <td>{{item[2]}}</td>
                <td>{{item[3]}}</td>
                <td>{{item[4]}}</td>
                <td>{{item[5]}}</td>
                <td>{{item[6]}}</td>
                <td>{{item[7]}}</td>
                <td>{{item[8]}}</td>
                <td>{{item[9]}}</td>
            </tr>
            {% endfor %}
    </table>
    <button onclick="location.href='care'" type="button">
        view care requirements
    </button>
</div>

<div class="addPlant">
    <form>
        <p>Don't see a plant you have? Add it here!</p>
        <label for="commonName">Common Name (Required):</label><br>
        <input type="text" id="commonName" name="commonName"><br>
        <label for="scienceName">Scientific Name:</label><br>
        <input type="text" id="scienceName" name="scienceName"><br>
        <label for="type">Type:</label><br>
        <input type="text" id="type" name="type"><br>
        <label for="variegated">Variegated (Yes/No):</label><br>
        <input type="text" id="variegated" name="variegated"><br>
        <label for="petSafe">Pet Safe (Yes/No):</label><br>
        <input type="text" id="petSafe" name="petSafe"><br>
        <label for="maxSize">Max Size:</label><br>
        <input type="text" id="maxSize" name="maxSize"><br>
        
        <br>
        
        <input type="submit" value="Submit">
    </form>
</div>

{% endblock content %}