{% extends "layout.html" %}
{% block styling %}
    <link rel="stylesheet" href="static/css/userLogin.css">
{% endblock styling %}
{% block banner %}Users{% endblock banner %}
{% block content %}

<div class="addUser">
    <h2>Add a new user:</h2>
    <form method="post" action="/users/insertUsers">
        <label for="firstName">First Name:</label>
        <input type="text" id="firstName" name="firstName" placeholder="..." required>

        <label for="lastName">Last Name:</label>
        <input type="text" id="lastName" name="lastName" placeholder="..." required>

        <label for="email">Email:</label>
        <input type="email" id="email" name="email" placeholder="..." required>

        <label for="location">Location (Form "Seattle, WA"):</label> 
        <input type="text" id="location" name="location" placeholder="...">

        <input type="submit" value="Submit">
    </form>
</div>

{% endblock content %}