{% extends "layout.html" %}
{% block styling %}
    <link rel="stylesheet" href="static/css/users.css">
{% endblock styling %}
{% block content %}

<section class="optionsBanner">
    <div class="options">
        This area is reserved for any content associated with changing the users profile (This will be the UPDATE for
        our page).
    </div>
</section>

<section class="userInfo">

    <div class="userContainer">
        <div class="details picture">
            This area is reserved for a profile picture (READ)
        </div>

        <div class="details">
            This area is reserved for information about the user, which will include the users full name, email, and location.
            This area will also show if a user is an expert in a field. (READ)
        </div>
    </div>

</section>

<section class="userPlants">
    <div class="plants">
        This area is reserved for plants that the user "owns". This area will also include a delete option that will
        remove a plant from the users owned plants. (DELETE)
    </div>
</section>

<section class="userItems">
    <div class="content">
        This area is reserved for any content associated with the user (guides will be the only content that will be listed
        for now.) (READ)
    </div>
</section>
{% endblock content %}